{% extends "crud/base.html" %}

{% block title %}Подтверждение решения — RestreamByDDas{% endblock %}

{% block content %}
	{% if action == "approve" %}
		<h1>Подтвердить регистрацию пользователя {{ user.username }} ({{ user.email }})?</h1>
	{% else %}
		<h1>Отклонить регистрацию пользователя {{ user.username }} ({{ user.email }})?</h1>
	{% endif %}
	<div class="card">
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="{% if action != 'approve' %}danger{% endif %}">
				{% if action == "approve" %}Подтвердить{% else %}Отклонить{% endif %}
			</button>
		</form>
	</div>
{% endblock %}
